<div class="wrapper">
  <div class="page-header page-header-small" filter-color="blue">
    <div
      class="page-header-image rellax-header"
      data-rellax-speed="-8"
      style="background-image: url('assets/img/brasilia.jpg');"
    ></div>
    <div class="container">
      <div class="content-center">
        <div class="photo-container">
          <img src="assets/img/vini.jpg" alt="" />
        </div>
        <h3 class="title">Vinícius Amorim da Silva</h3>
        <p class="category">Programador</p>
        <p>Projetos</p>
        <div class="content">
          <div class="social-description">
            <h2>4</h2>
            <p>JAVA</p>
          </div>
          <div class="social-description">
            <h2>2</h2>
            <p>Angular</p>
          </div>
          <div class="social-description">
            <h2>1</h2>
            <p>Postgrsql</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="button-container">
        <a
          href="https://www.linkedin.com/in/vinicius-amorim-da-silva/"
          class="btn btn-default btn-round btn-lg btn-icon"
          rel="tooltip"
          title="Veja meu perfil no Linkedin"
        >
          <i class="fab fa-linkedin"></i>
        </a>
        <a
          href="https://www.instagram.com/srhavoc/?hl=pt-br"
          class="btn btn-default btn-round btn-lg btn-icon"
          rel="tooltip"
          title="Me siga no Instagram"
        >
          <i class="fab fa-instagram"></i>
        </a>
        <a
          href="https://github.com/viniciusamorim2000"
          class="btn btn-default btn-round btn-lg btn-icon"
          rel="tooltip"
          title="Acompanhe meus projetos no Git Hub"
        >
          <i class="fab fa-github"></i>
        </a>
      </div>
      <h3 class="title">Sobre mim</h3>
      <h5 class="description">
        Olá me chamo Vinícius Amorim da Silva, moro em Brasília no Distrito
        Federal. Atualmente estou cursando 5° semestre de Ciência da Computação.
        Hoje atuo na área de desenvolvimento Web usando as mais diversas
        tecnologias do mercado.Já atuei em diversos projetos de pequeno e médio
        porte hoje busco novos desafios como freelancer oferecendo soluções para
        as mais diversas áreas da tecnologia desde Web Sites a sistemas
        empresariais.
      </h5>
      <div class="card">
        <div class="card-body">
          <h3 class="title">Tecnologias</h3>
          <p class="card-text text-center">JAVA, HTML, JS, CSS, TYPESCRIPT</p>
          <h3 class="title">Bancos de Dados</h3>
          <p class="card-text text-center">MySQL, H2, Postgrsql, SQL Server</p>
          <h3 class="title">Ferramentas & Frameworks</h3>
          <p class="card-text text-center">
            VS Code, IntelliJ, Github, Spring Boot, Angular, DBeaver, Postman, J
            Unit
          </p>
        </div>
      </div>
      <h3 class="title"></h3>
      <div class="row">
        <div class="col-md-12">
          <h4 class="title text-center">Meu Portfólio</h4>
          <ngb-tabset
            [justify]="'center'"
            type="pills"
            class="nav nav-pills nav-pills-primary nav-pills-just-icons justify-content-center tab-space"
          >
            <ngb-tab>
              <ng-template ngbTabTitle>
                <i class="now-ui-icons design_image"></i>
              </ng-template>
              <ng-template ngbTabContent>
                <div class="row">
                  <div class="col-md-10 ml-auto mr-auto">
                    <div class="row collections">
                      <div class="col-md-6">
                        <img
                          src="assets/img/bg1.jpg"
                          alt=""
                          class="img-raised"
                        />
                        <img
                          src="assets/img/bg3.jpg"
                          alt=""
                          class="img-raised"
                        />
                      </div>
                      <div class="col-md-6">
                        <img
                          src="assets/img/bg8.jpg"
                          alt=""
                          class="img-raised"
                        />
                        <img
                          src="assets/img/bg7.jpg"
                          alt=""
                          class="img-raised"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                <i class="now-ui-icons location_world"></i>
              </ng-template>
              <ng-template ngbTabContent>
                <div class="row">
                  <div class="col-md-10 ml-auto mr-auto">
                    <div class="row collections">
                      <div class="col-md-6">
                        <img src="assets/img/bg6.jpg" class="img-raised" />
                        <img
                          src="assets/img/bg11.jpg"
                          alt=""
                          class="img-raised"
                        />
                      </div>
                      <div class="col-md-6">
                        <img
                          src="assets/img/bg7.jpg"
                          alt=""
                          class="img-raised"
                        />
                        <img
                          src="assets/img/bg8.jpg"
                          alt=""
                          class="img-raised"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                <i class="now-ui-icons sport_user-run"></i>
              </ng-template>
              <ng-template ngbTabContent>
                <div class="row">
                  <div class="col-md-10 ml-auto mr-auto">
                    <div class="row collections">
                      <div class="col-md-6">
                        <img
                          src="assets/img/bg3.jpg"
                          alt=""
                          class="img-raised"
                        />
                        <img
                          src="assets/img/bg8.jpg"
                          alt=""
                          class="img-raised"
                        />
                      </div>
                      <div class="col-md-6">
                        <img
                          src="assets/img/bg7.jpg"
                          alt=""
                          class="img-raised"
                        />
                        <img src="assets/img/bg6.jpg" class="img-raised" />
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer footer-default">
    <div class="container">
      <nav>
        <ul>
          <li>
            <a href="https://www.creative-tim.com">
              Creative Tim
            </a>
          </li>
          <li>
            <a href="https://www.creative-tim.com/about-us">
              About Us
            </a>
          </li>
          <li>
            <a href="http://blog.creative-tim.com">
              Blog
            </a>
          </li>
          <li>
            <a
              href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md"
            >
              MIT License
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright">
        &copy;
        {{ data | date: "yyyy" }}, Designed by
        <a href="https://www.invisionapp.com" target="_blank">Invision</a>.
        Coded by
        <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
      </div>
    </div>
  </footer>
</div>
